extends layout

block content
  h1= title
  p Welcome to the Finance Calculator! 
  input(type=number, id="InitAmount", placeholder="Type in an initial amount")
  input(type=number, id="Percent", placeholder="Type in percent you wish to save")
  input(type=submit, id="Submit", value="Submit")
